<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <%# 一覧を表示する時はeach文 %>
      <% @recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
              <%# 詳細画面に移動する %>
                <%= link_to recipe_path(recipe) do %>
                  <%# recipeに入っている画像を取り出す %>
                  <%= attachment_image_tag recipe, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                  <%= link_to recipe_path(recipe.user.id) do %>
                    <%# recipeを投稿した人のプロフィール画像を表示する %>
                    <%# 画像を表示するときはattachment_image_tag %>
                    <%= attachment_image_tag recipe.user, :profile_image, fallback: "no-image.png" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                <%# recipeを投稿した人の名前を表示する %>
                <%# recipe.userでrecipeに紐づいている人を取ってくることができる %>
                  <div class="title"><%= link_to recipe.user.username, user_path(recipe.user.id) %></div>
                </div>
              </div>
              <div class="content">
                <%# 更新日を記載する %>
                <%# 日本時間にする。.strftime("%Y-%m-%d %H:%M") %>
                <%# config.time_zome = 'Tokyo'をconfig/application.rbに追記 %>
                <time><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>